/* --------- HEADER ---------*/
.icon-menu {
  width: 28px;
  height: 20px;
}

.icon-search {
  width: 18px;
  height: 17px;
  color: black;
  /*background-color: #ffffff;*/
}

.icon-favorite-light {
  width: 36px;
  height: 32px;
}

.icon-basket {
  width: 40px;
  height: 38px;
}

.barrio-regular {
  font-family: 'Barrio', system-ui;
  font-weight: 400;
  font-style: normal;
}

.header-bar {
  /*justify-content: center;*/
  align-items: center;
  color: white;
  background: rgb(0, 175, 143);
  background: linear-gradient(
    90deg,
    rgba(0, 175, 143, 1) 0%,
    rgba(199, 108, 255, 1) 100%
  );
}

.flex {
  display: flex;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.flex-grow {
  flex-grow: 1;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.search-form {
  border-radius: 0.5rem;
  display: flex;
  background: #eeeeee;
}

.search-form-input {
  background: transparent;
  border-width: 0px;
}

.search-form-button {
  background: transparent;
  border-width: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

/* --------- MAIN ---------*/
/* --- Види товарів --- */
.menu-sidebar {
  height: 100%;
  border-right: 10px solid;
  border-color: black;
}

/* --- Реклама --- */

/* --- Популярні --- */
.icon-favorite-dark {
  width: 27px;
  height: 24px;
}
