/* --------- HEADER ---------*/
.header-bar {
  /*justify-content: center;*/
  align-items: center;
  color: white;
  padding: 0.5rem;
  background: rgb(0, 175, 143);
  background: var(--header-gradient);
  /*linear-gradient(
    90deg,
    rgba(0, 175, 143, 1) 0%,
    rgba(199, 108, 255, 1) 100%
  );*/
}

.icon-menu-button {
  border: 0px;
  background-color: transparent;
}

.icon-menu {
  width: 28px;
  height: 20px;
}

.barrio-regular {
  font-family: var(--logo-font);
  font-weight: 400;
  font-style: normal;
}

.search-form {
  border-radius: 0.5rem;
  display: flex;
  background: #eeeeee;
}

.search-form-input {
  background: transparent;
  border: 1px solid white;
}

.search-form-button {
  background-color: white;
  border-width: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-search {
  width: 18px;
  height: 17px;
  color: black;
  /*background-color: #ffffff;*/
}

.lang-switch-button {
  color: white;
  border: 0px;
  background: transparent;
}

.icon-favorite-light {
  width: 36px;
  height: 32px;
}

.icon-basket {
  width: 40px;
  height: 38px;
}

/* --------- MAIN ---------*/

/* --- MENU --- */

.menu-sidebar {
  height: 100%;
  border-color: black;
  border-right: 1px solid;
  padding: 1.5rem;
  transition-property: margin;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  width: var(--sidebar-width);
  display: block;
}

.closed-sidebar {
  margin-left: calc(var(--sidebar-width) * -1);
  /*display: none !important;*/
  /*height: 100%;*/
  /*transform: translateX(-100%);*/
}

/* --- AD --- */

.padded-container {
  width: 100%;
  padding: 2rem;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  position: relative;
}

.ad-container {
  background-image: url(/images/tennis.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1.5rem;
}

.ad-text {
  padding-right: 60px;
  background-color: #c3c943;
  color: white;
  /* 312 x 204 */
  width: 312px;
  /*height: 150px;*/
  border-radius: 0.5rem;
  padding: 1.5rem;
  font-size: x-large;
}

/*.ad-image {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.ad-button {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #00af8f;
  color: white;
}*/

/* --- POPULAR --- */

.product-card {
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  padding: 0.5rem;
  width: 150px;
  align-items: center;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.product-image {
  object-fit: contain;
  width: 100px;
  height: 140px;
}

.product-favorite {
  position: absolute;
  top: 10px;
  right: 10px;
}

.icon-favorite-dark {
  width: 27px;
  height: 24px;
}

.product-name {
  text-align: center;
  font-size: medium;
}

.product-price {
  text-align: center;
  font-size: small;
  color: var(--price-color);
}
